.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #777;
    color: #fff;
    padding: 5px 0;
}

.inner-menu ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.inner-logo{
    padding-top: 10px;
    width:150px;
    height: auto
}

.inner-menu ul li{
    padding: 10px 5px 
}

.inner-image{
    text-align: center;
    margin-right: 5px
}

.inner-image img{
    aspect-ratio: 4/3;
    object-fit: cover;
    height: 100%;
    width: auto;
    overflow: hidden;
    border: 1px solid #ddd
}