.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #777;
    color: #fff;
    padding: 5px 0;
}
ul{
    list-style-type: none;
}
.inner-menu > ul {
    display: flex;
    justify-content: space-evenly;
   
}

.inner-logo img{ 
    aspect-ratio: 4/3;
    object-fit: cover;
    width: 60%;
    height: auto;
    overflow: hidden;
    border: 1px solid #ddd
}

.inner-menu ul li{
    padding: 10px 5px 
}

.inner-image{
    text-align: center;
    margin-right: 5px

}

.inner-image img{
    aspect-ratio: 4/3;
    object-fit: cover;
    width: 30%;
    height: auto;
    overflow: hidden;
    border: 1px solid #ddd
}

/* sub-menu */
.sub-menu{
    position: relative;
    z-index:999
}

.sub-menu ul {
    position: absolute;
    right: 0;
    top: 100%;
    list-style:none;
    padding: 0;
    margin: 0;
    background-color: #ddd;
    min-width: 100px;
    display: none;
}

.sub-menu ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd
}

.sub-menu:hover > ul {
    display: block;
}

.sub-menu ul li{
    position: relative
}

.sub-menu ul li ul {
    right: 100%;
    top: 0
}

.sub-menu ul li:hover > ul {
    display: block;
}


/* // Chat */
.inner-incoming .inner-content{
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #ddd;
    display: inline-block;
    color: #000;
    margin-bottom:10px;
}
.inner-body{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.inner-outgoing{
    position: relative;
    display: flex;
    justify-content: right;
}
.inner-outgoing .inner-content{
    text-align: right;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #FE5DA3;
    display: inline-block;
    color: #fff;
    margin-bottom:10px;
}

.chat .inner-form{
    display: flex;
    align-items: center;
}

.chat .inner-form input{
    flex: 1;
    height: 32px;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 0 10px;
    outline: none;
}


.chat .inner-form button{
    border-radius: 15px;
    border: 1px solid #FE5DA3;
    background-color: #FE5DA3;
    color: #fff;
    height: 32px;
    padding: 0 10px;
    cursor: pointer;
}

.chat .inner-head .inner-name{
    display: inline-block;
    font-weight: 600;
    margin-left: 5px;
}

.chat .inner-body {
    padding:10px;
    max-height: 450px;
    overflow-y: auto;
}

.chat .inner-body .inner-name{
    font-weight: 600;
}
.tooltip{
    opacity: 1;
}
.tooltip:not(.shown) {
    display: none;
}

/* //End Chat */

/* box typing */
.box-typing{
    position: relative
}

.box-typing .inner-dots{
    position: relative;
    height: 20px;
    width: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
    border-radius: 45px;
    margin-top: 2px;
}

.box-typing .inner-dots span{
    animation: blink 1.5s infinite;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #252525;
    display: inline-block;
    margin: 0 3px;
}

.box-typing .inner-dots span:nth-child(2){
    animation-delay: 0.2s;
}

.box-typing .inner-dots span:nth-child(3){
    animation-delay: 0.4s;
}

@keyframes blink{
    0%{
        opacity: 0.1;
    }
    20%{
        opacity: 1;
    }
    100%{
        opacity: 0.1;
    }
}
/* end box typing */


/* image  */
.chat .inner-image img{
    width: 20%;
    object-fit: contain;
    background-color: #efefef;
    border-radius: 5px;
}

.chat .inner-outgoing .inner-image{
    /* margin-left: auto; */
    text-align: right !important;
}
.chat .inner-incoming .inner-image{
    /* margin-left: auto; */
    text-align: left !important;
}

/* end image  */


.chat .inner-preview-image {
    position: relative;
}

.chat .inner-preview-image .label-container {
    display: none;
}

.chat .inner-preview-image .input-container{
    display: none;
}

.chat .inner-preview-image .image-preview{
    height: auto;
    padding: 0;
    border-radius: 0;
}

.chat .inner-preview-image .image-preview-item{
    width: 90px;
    background-size: contain;
}


/* box-user */
.box-user{
    display: flex;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.box-user .inner-avatar{
    width: 60px;
    height: 60px;
    border-radius:50% ;
    overflow: hidden;
    background-color: #f2f2f2;
    margin-right: 10px;
}

.box-user .inner-avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-user .inner-infor{
    flex: 1
}

.box-user .inner-infor .inner-name{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 3px;
}

.box-user [btn-cancel-friend] {
    display: none;
}

.box-user.add [btn-add-friend]{
    display: none;
}

.box-user.add [btn-cancel-friend]{
    display: inline-block;
}


/* end box-user */