mixin categoryTree(category, level = 1, id = "")
    each item in category 
        - const prefix = "-- ".repeat(level)
        option(
            value=item._doc._id
            selected=(item._doc._id.toString() === id.toString() ? "selected" : undefined)
        ) #{prefix}#{item._doc.title}  
        if item.children && item.children.length > 0
            +categoryTree(item.children, level + 1, id)
